@charset "utf-8";
*{
	padding: 0;
	margin: 0;
}

.imagesFrame a:link {
	color: #000000;
	text-decoration: none;
}
.imagesFrame a:visited {
	text-decoration: none;
	color: #000000;
}
.imagesFrame a:hover {
	text-decoration: none;
	color: #000000;
}
.imagesFrame a:active {
	text-decoration: none;
	color: #000000;
}

.imagesFrame {
	width: 740px;
	height: 345px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	left: 0px;
	right: 0px;
}


.imagesFootFrame {
	height: 50px;
	position: absolute;
	top: 295px;
	width: 740px;
	background-color: #F8F8F8;
	opacity: 0.3;
}
.imagesFootLeft {
	height: 50px;
	width: 400px;
	float: left;
	line-height: 50px;
}
.imagesFootRight {
	height: 50px;
	width: 340px;
	float: left;
}

.imagesFootRight li {
	list-style-type: none;
	float: left;	
}
.imagesFootRight a  {
	background-image: url(../images/picNow.png);
	background-repeat: no-repeat;
	width: 25px;
	height: 50px;
	display: block;
	background-position: -20px center;
}

