*{
	margin:0;
	padding:0;
}
#two-degree-menu{
    height:200px;
}
#two-degree-menu .frame{
	background: rgb(187,221,255);
	height: 40px;
	width: 450px;
	margin: auto;
}
#two-degree-menu ul{
    list-style: none;
}
#two-degree-menu ul li{
	float: left;
	line-height: 40px;
	text-align: center;
}
#two-degree-menu a{
    text-decoration: none;
    color: #000;
    display: block;
    width:90px;
    height:40px;
}
#two-degree-menu a:hover{
    background-color: #666;
    color: #ffffff;
}
#two-degree-menu ul li ul li{
	background-color: #eee;
	float: none;
}
#two-degree-menu ul li ul{
    display: none;
}
#two-degree-menu ul li ul li a:link,#two-degree-menu ul li ul li a:visited{
    background-color: #eeeeee;
}
#two-degree-menu ul li ul li a:hover{
    background-color: #009933;
}


/*三层菜单实现*/
#three-degree-menu{
    height:270px;
}
#three-degree-menu .frame{
    background: rgb(187,221,255);
    height: 40px;
    width: 450px;
    margin: auto;
}
#three-degree-menu ul{
    list-style: none;
}
#three-degree-menu ul li{
    float: left;
    line-height: 40px;
    text-align: center;
}
#three-degree-menu a{
    text-decoration: none;
    color: #000;
    display: block;
    width:90px;
    height:40px;
}
#three-degree-menu a:hover{
    background-color: #666;
    color: #ffffff;
}
#three-degree-menu ul li ul li{
    background-color: #eee;
    float: none;
}
#three-degree-menu ul li ul{
    display: none;
}
#three-degree-menu ul li ul li a:link,#three-degree-menu ul li ul li a:visited{
    background-color: #eeeeee;
}
#three-degree-menu ul li ul li a:hover{
    background-color: #009933;
}

#three-degree-menu ul li ul li ul li{

    background-color: #eeba57;
    float: none;
}
#three-degree-menu ul li ul li ul{
    display: none;
}
#three-degree-menu ul li ul li ul li a:link,#three-degree-menu ul li ul li ul li a:visited{
    background-color: #9deeec;
}
#three-degree-menu ul li ul li ul li a:hover{
    background-color: #eeba57;
}
